$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower
$purple: rgba(93, 37, 163, 1.0); 
$olive: rgba(121, 152, 29, 0.5);
$seagreen: rgb(37,179,181); 
$light-purple: rgba(93, 37, 163, 0.8);

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


body {
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

body, html{
  height:100%;
}

a{
  color: $purple;
  &:hover, &:focus, &:visited, &:active{
    color: $purple;
  }
}

a.cursor-pointer {
  cursor: pointer;
}

.enlarge-text{
  position: absolute;
  bottom: -20px;
  left: 29%;
  font-size: 78%;
  color: $purple;
}

.lightbox-image-caption {
    position: absolute;
    top: -45px;
    left: 0;
    margin: 0.5em 0.9em;
    color: rgba(0,0,0,0.8);
    font-size: 1.5em;
    font-weight: normal;
    text-align: left;
    text-shadow: 0.1em 0.1em 0.2em rgba(255, 255, 255, 0.5);
}

.lightbox-nav .lightbox-caption{
  left: 0;
  opacity: 0.6;
  font-weight: bold;
  font-size: 14px;
  top: 5px;
  text-transform: uppercase;
  right: initial;
}

.margin-row{
  padding-top: 2vh;
  margin-left: 0px;
  margin-right: 0px;
}

.no-pad{
  padding: 0px;
}

.active{
  font-weight: bold !important;
}

.video-width{
  width: 41.366667%;
}

.left-margin{
  margin-right:1vw;
  width: 9.333333%;
}

.main-right-width{
  width:24%;
}

.middle-seperator{
  margin-left:1vw;
}

.app-bg{
  background: url('../images/bamboo-bg.jpg');
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
}

.main-logo{
    width: 175%;
    margin-top: -31%;
    margin-left: -19%;
}

ul.main-nav-list{
  list-style: none;
  line-height: 5vh;
  font-size: 85%;
  padding-left: 13%;
  padding-top: 31px;
  padding-bottom: 50px;
  max-height: 35vh;
  background: rgba(121, 152, 29, 0.2);
  a{
    color: $purple;
    font-size: 11px;
  }
  li{
    margin-bottom: -10px;
  }
}

.main-nav-list-container{
  padding-top: 9vh;
}

.main-bar{
  margin-top: 15%;
  height: 50%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}

.main-left{
  height: 46vh;
  width: 100%;
  background-color: $light-purple; 
}

.main-nav{
  height: 46vh;
  width: 100%;
  background-color: $olive;
}

.sub-nav{
  list-style: none;
  padding-left: 10px;
  line-height: 25px;
}

.sub-sub-nav{
  list-style: none;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  line-height: 25px;
}

.main-right{
  height: 46vh;
  width: 63vh;
  border: 23px solid $light-purple; 
  position: relative;
  z-index: 5;
}

.main-right-white{
  height: 46vh;
  width: 63vh;
  border: 23px solid white; 
  position: relative;
  z-index: 5;
}

.main-right-white-square{
  height: 46vh;
  width: 46vh;
  border: 23px solid white; 
  position: relative;
  z-index: 5;
}

.main-right-white-square-video{
  border: 18px solid white; 
  background-color: white;
  height: 46vh;
}

.embed-responsive-16by9 {
    padding-bottom: 58.25%;
}
    
// Portfolio

.carousel-control.left{
  background-image: none;
  left: -8px;
}
.carousel-control.right{
  background-image: none;
  right:-8px;
}

.carousel-control .glyphicon-menu-left {
    left: 50%;
    margin-left: -10px;
}

.carousel-control .glyphicon-menu-right, .carousel-control .glyphicon-menu-left {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    z-index: 5;
    display: inline-block;
}

.icon-next, .carousel-control .glyphicon-menu-right {
    right: 50%;
    margin-right: -10px;
}

.carousel-control {
    opacity: 1;
    filter: alpha(opacity=100);
    font-size: 20px;
    color: white;
}

.carousel-override{
  margin-top: -1vh; 
  padding: 25px;
}

.print-outer{
  margin-top: -1vh; 
  padding: 25px;
}

//End Portfolio

//Bio

.bio-content {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 25.5vh;
    margin-top: 6vh;
    background: rgba(121, 152, 29, 0.5);
    font-size: 11px;
    line-height: 22px;
    color: #5d25a3;
    padding: 2.5vh 1vw;
}

.contact-content{
    margin-top: 6%;
    color: $purple;
    padding: 4vh 1vw;
}

//End Bio

// Radio

.radio-bg {
    background: url("../images/radio-bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #25b3b5;
    height: 40vh;
    width: 40vh;
    z-index: 1;
    top: 0px;
    bottom: 0px;
    position: absolute;
}

.radio-bg-color{
  background-color: #25b3b5;
}

h5.radio-text{
  margin-bottom: 8px;
  margin-top: 5px;
}

h5.radio-text:first-child{
  margin-top: 8px;
}

audio{
  width:250px;
  height:25px;

}

// tv & sales

.metal-bg {
    background: url("../images/bm-frame.png");
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 46vh;
    height: 46vh;
    width: 45%;
}

.metal-inner{
  margin-top: 2.5vh;
  max-height: 41vh;
  height: 41vh;
  max-width: 71.5vh;
  margin-left: -0.2vw;
  position: relative;
  background-color: black;
}

.main-right-white-square-video{
  border: 18px solid white; //rgba(93, 37, 163, 1.0); 
  background-color: white;
  height: 46vh;
  width: 75vh;
}
  
// end tv

// art

.art-bg {
  background: url("../images/art-frame.png");
  background-repeat: no-repeat;
  background-size: contain;
  max-height: 46vh;
  height: 46vh;
  position: absolute;
  width: 100%;
  margin-top: -2vh;
  margin-left: -1vw;
}

.wide-width{
  width: 76vh;
}

.wider-width{
  width:75vh;
}

.art-inner{
  background: url("../images/canvas-bg-full.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 42vh;
  height: 42vh;
  margin-top: 2vh;
  position: relative;
}

.art-inner-image{
  margin: 0 auto;
  height: 41vh;
  width: 35vh;
  margin-top: 6vh;
}

.art-carousel-left{
  position:absolute;
  top:50%;
  left:3vw;
  color:white;
  font-size: 20px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-color: transparent;
}

.art-carousel-right{
  position:absolute;
  top:50%;
  right:4vw;
  color:white;
  font-size: 20px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-color: transparent;
}

// end art

// 

@media (min-width: 1350px){
  .radio-bg{
    background-size: 100%;
  }
}

/* Responsive: Portrait tablets and up */
@media only screen and (max-width: $screen-md) {
  ul.main-nav-list a {
      color: #5d25a3;
      font-size: 9px;
  }

  ul.main-nav-list {
    font-size: 85%;
    white-space: nowrap;
     li{
        margin-bottom: -15px;
      }
   }

   .contact-content {
     margin-top: 2%;
   }

   audio {
    width: 200px;
    height: 20px;
  }

  .main-right-white-square {
    border: 18px solid white;
  }

  .video-width{
    width: 47.3%;
  }

 }

@media only screen and (max-width: $screen-sm) {
  .app-bg {
    background: url("../images/bamboo-bg.jpg");
    height: 200vh;
  }

  .pad-mobile{
    padding-left: 15px;
    padding-right: 15px;
  }

  .middle-seperator {
    margin-left: 0vw;
  }

  .main-left {
      height: 21vh;
      width: 100%;
      background-color: rgba(93, 37, 163, 0.8);
  }

  .main-logo {
      width: 175%;
      margin-top: -48%;
      margin-left: -22%;
  }

  .main-nav {
    height: 21vh;
    width: 100%;
    background-color: rgba(121, 152, 29, 0.5);
    position: relative;
  }

  .main-nav-list{
    position: absolute;
    background-color: rgba(121, 152, 29, 0.2);
    height: 85%;
    width: 90%;
    top: 7%;
    left: 5%;
    padding-top: 3vh;
    list-style: none;
    white-space: nowrap;
    font-size: 2.8vw;
    // li:before {
    //      content:'\2022';
    //      display: block;
    //      position: relative;
    //      max-width: 0px;
    //      max-height: 0px;
    //      left: -10px;
    //      top: -3px;
    //      color: $purple;
    //      font-size: 16px;
    //    }
      .col-xs-2 li:before{
        display: none;
      }
      .sub-nav{
        text-align: left;
        li:before{
          display: none;
        }
      }
  }

  .margin-row {
      padding-top: 0vh;
  }

  .main-right-width {
      width: 70%;
      margin-bottom: 2vh;
  }

  .left-margin {
      margin-right: 1vw;
      width: 28.333333%;
  }

  .main-bar {
      margin-top: 4vh;
      height: 0;
      width: 100vw;
      margin-left: 0vw;
      background-color: transparent;
  }

  .main-right-white {
    width: 55vh;
  }

 .main-right {
    width: 100%;
    margin-top: 2vh;
    height: 42vh;
    border: 18px solid rgba(93, 37, 163, 0.8);
    position: relative;
    z-index: 5;
  }

  .mobile-pad{
    padding-left: 15px;
    padding-right: 15px;
  }

  .main-right-white-square {
      width: 100%;
      height: 42vh;
      margin-top: 2vh;
  }

  .print-outer{
    margin-top: -5vh; 
    padding: 55px;
  }


  .carousel-override{
    margin-top: -5vh;
    padding: 35px;
  }

  .wide-width {
      width: 94%;
  }

  .art-inner {
      height: 30vh;
      margin-top: 4vh;
      padding-left: 1vw;
      margin-left: 3vw;
    }

    .art-inner-image {
       width: 35%;
    }

    .art-bg {
      max-height: 34vh;
      height: 34vh;
      margin-left: 0;
    }

    .main-right-white {
        height: 42vh;
        width: 100%;
        border: 18px solid white;
        position: relative;
        z-index: 5;
        // margin-left: 4vw;
        margin-top: 2vh;
    }

    .wider-width {
        width: 100%;
        margin-top: 2vh;
        margin-left: 4vw;
    }

    .metal-inner{
      height: 25vh;
      width: 92%;
      margin-top: 2.5vh;
    }

    .metal-bg{
      max-height: 32vh;
      height: 32vh;
      background-size: 92%;
    }

    .main-right-white-square {
        height: 47vh;
    }

    h5.radio-text {
        margin-bottom: 0;
    }

    audio {
        width: 200px;
        height:40px;
    }

    .radio-bg{
      width: 46vh;
      background: none;
    }

    .contact-content {
        padding: 5vh 4vw;
        h3{
          font-size: 18px;
        }
    }

    .bio-content{
      padding: 2.5vh 4vw;
    }

    .sub-nav {
        line-height: 17px;
    }

    .lightbox-nav .lightbox-caption {
        font-size: 8px;
        top:7px;
    }

}

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
         -o-transition:      -o-transform .6s ease-in-out;
            transition:         transform .6s ease-in-out;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000;
            perspective: 1000;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
