<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <!--    <meta name="viewport" content="width=device-width"> -->
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="tonygApp" class="app-bg" ng-cloak>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

   <!--  <div class="container"> -->
   <div class="main-bar">
      <div class="row margin-row">
        <div class="col-sm-2 margin-sm-1 no-pad hidden-xs"></div>
        <!-- desktop nav-->
        <div class="hidden-xs">
        <div class="col-sm-3 col-xs-5 no-pad main-right-width">
          <div class="main-left">
            <img src="images/logo.svg" class="main-logo">
          </div>
          </div>
          <div class="col-sm-1 col-xs-5 no-pad left-margin">
            <div class="main-nav">
              <div class="main-nav-list-container" ng-controller="NavCtrl">
              <ul class="main-nav-list">
                <li><a href="#" ng-href="#/" ng-class="{'active':isActive('/')}">BIO</a></li>
                <li><a href="" ng-href="#/portfolio" ng-class="{'active':isActive('/portfolio') }">
                  PORTFOLIO</a></li>
                    <ul class="sub-nav ng-hide" ng-show="portfolio">
                      <li><a ng-href="#/portfolio" ng-class="{'active':isActive('/portfolio')}">Print/Online</a></li>
                      <li><a ng-href="#/radio" ng-class="{'active':isActive('/radio')}">Radio</a></li>
                      <li><a ng-href="#/sales1" ng-click="sales = !sales" 
                        ng-class="{'active':isActive('/sales1')}">Sales Video</a></li>
                           <ul class="sub-sub-nav ng-hide" ng-show="sales">
                            <li><a ng-href="#/sales1" ng-class="{'active':isActive('/sales1')}">Pom #1</a></li>
                            <li><a ng-href="#/sales2" ng-class="{'active':isActive('/sales2')}">Pom #2</a></li>
                            <li><a ng-href="#/sales3" ng-class="{'active':isActive('/sales3')}">Pom #3</a></li>
                           </ul>
                      <li><a ng-href="#/tv" ng-class="{'active':isActive('/tv')}">TV</a></li>
                    </ul>
                <li><a ng-href="#/art" ng-class="{'active':isActive('/art')}">ART GALLERY</a></li>
                <li><a ng-href="#/contact" ng-class="{'active':isActive('/contact')}">CONTACT</a></li>
              </ul>
            </div>
            </div>
          </div>
          </div>
          <!-- end desktop nav -->
          <!-- mobile nav -->
          <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
            <div class="main-left">
              <img src="images/logo.svg" class="main-logo">
            </div>
            <div class="main-nav">
              <div class="main-nav-list text-center" ng-controller="NavCtrl">
                <div class="row">
                <!--   <div class="col-xs-1 no-pad"></div> -->
                  <div class="col-xs-2" style="padding-left: 10vw">
                    <li><a href="#" ng-href="#/" ng-class="{'active':isActive('/')}">BIO</a></li>
                  </div>
                  <div class="col-xs-3">
                    <li><a href="" ng-href="#/portfolio" ng-class="{'active':isActive('/portfolio') }">PORTFOLIO</a></li>
                    <ul class="sub-nav ng-hide" ng-show="portfolio">
                      <li><a ng-href="#/portfolio" ng-class="{'active':isActive('/portfolio')}">Print</a></li>
                      <li><a ng-href="#/radio" ng-class="{'active':isActive('/radio')}">Radio</a></li>
                      <li><a ng-href="#/sales1" ng-click="sales = !sales" 
                        ng-class="{'active':isActive('/sales1')}">Sales Video</a></li>
                      <li><a ng-href="#/tv" ng-class="{'active':isActive('/tv')}">TV</a></li>
                    </ul>
                  </div>
                  <div class="col-xs-3">
                    <li><a ng-href="#/art" ng-class="{'active':isActive('/art')}">ART GALLERY</a></li>
                    <ul class="sub-nav ng-hide" ng-show="sales">
                     <li><a>&nbsp;</a></li>
                     <li><a></a></li>
                     <li><a ng-href="#/sales1" ng-class="{'active':isActive('/sales1')}">Pom #1</a></li>
                     <li><a ng-href="#/sales2" ng-class="{'active':isActive('/sales2')}">Pom #2</a></li>
                     <li><a ng-href="#/sales3" ng-class="{'active':isActive('/sales3')}">Pom #3</a></li>
                    </ul>
                  </div>
                  <div class="col-xs-3" style="padding-left: 5vw">
                    <li><a ng-href="#/contact" ng-class="{'active':isActive('/contact')}">CONTACT</a></li>
                  </div>
               <!--    <div class="col-xs-2 no-pad"></div> -->
                </div>
              </div>
            </div>
          </div>
          <!-- end mobile nav -->
          <!-- nav views  -->
          <div class="middle-seperator">
            <div ng-view=""></div>
          </div>
          <!-- end nav views -->
      </div>
    
    
   </div>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/nav.js"></script>
        <!-- endbuild -->
</body>
</html>
