<!-- <div class="col-sm-6 col-xs-10 art-inner wide-width">
    <div class="art-bg">
	    <div id="carousel-art" class="carousel slide" data-ride="carousel" data-interval="2000">
		  <div class="carousel-inner" role="listbox" >
		    <div class="item active">
		      <img src="images/art/1dog.png" alt="..." class="art-inner-image">
		      <div class="carousel-caption">
		      </div>
		    </div>
		    <div class="item" ng-repeat="image in images">
		        <img ng-src="{{image}}" alt="..."  class="art-inner-image">
		      <div class="carousel-caption">
		      </div>
		    </div>

		      <span class="art-carousel-left" href="#carousel-art" role="button" data-slide="prev">
		        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
		        <span class="sr-only">Previous</span>
		      </span>
		      <span class="art-carousel-right" href="#carousel-art" role="button" data-slide="next">
		        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
		        <span class="sr-only">Next</span>
		    </span>
		  </div>
	    </div>
	</div>
</div> -->

<div class="col-sm-6 col-xs-10 wide-width">
    <div class="art-bg">
	    <div id="carousel-art" class="carousel slide" data-ride="carousel" data-interval="2000">
		  <div class="carousel-inner" role="listbox" >
		    <div class="item active">
		      <img src="images/art/1dog.png" alt="..." class="art-inner-image">
		      <div class="carousel-caption">
		      </div>
		    </div>
		<!--     <div class="item" ng-repeat="image in images">
		        <img ng-src="{{image}}" alt="..."  class="art-inner-image">
		      <div class="carousel-caption">
		      </div>
		    </div> -->

		      <span class="art-carousel-left" href="#carousel-art" role="button" data-slide="prev">
		        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
		        <span class="sr-only">Previous</span>
		      </span>
		      <span class="art-carousel-right" href="#carousel-art" role="button" data-slide="next">
		        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
		        <span class="sr-only">Next</span>
		    </span>
		  </div>
	    </div>
	</div>
</div>