<div class="modal-body"
    ng-swipe-left="Lightbox.nextImage()"
    ng-swipe-right="Lightbox.prevImage()">
  <!-- navigation -->
  <div class="lightbox-nav">
    <!-- caption -->
    <button class="close lightbox-caption">{{Lightbox.imageCaption}}</button>



    <!-- close button -->
    <button class="close" aria-hidden="true" ng-click="$dismiss()">×</button>

    <div class="btn-group" ng-if="Lightbox.images.length > 1">
      <a class="btn btn-xs btn-default" ng-click="Lightbox.prevImage()">
         <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
      </a>

<!--       <a ng-href="{{Lightbox.imageUrl}}" target="_blank"
          class="btn btn-xs btn-default" title="Open in new tab">
        Open image in new tab
      </a> -->

      <a class="btn btn-xs btn-default" ng-click="Lightbox.nextImage()">
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      </a>
    </div>
  </div>

  <div class="lightbox-image-container" style="position:relative;z-index:10">
    <!-- caption -->
<!--     <div class="lightbox-image-caption">
      <span>{{Lightbox.imageCaption}}</span>
    </div> -->

    <!-- image -->
       <img lightbox-src="{{Lightbox.imageUrl}}" style="z-index:1000;position:relative"> 
    <i ng-if="!LightBox.imageUrl" class="fa fa-circle-o-notch fa-spin fa-4x fa-fw margin-bottom" style="position: absolute;top: 40%;left: 47%;z-index:100"></i>
        <span class="sr-only">Loading...</span>

    <!-- video -->
    <div ng-if="Lightbox.isVideo(Lightbox.image)"
        class="embed-responsive embed-responsive-16by9">
      <!-- video file embedded directly -->
      <video ng-if="!Lightbox.isSharedVideo(Lightbox.image)"
          lightbox-src="{{Lightbox.imageUrl}}"
          controls
          autoplay="true">
      </video>

      <!-- video embedded with an external service using
           `ng-videosharing-embed` -->
      <embed-video ng-if="Lightbox.isSharedVideo(Lightbox.image)"
          lightbox-src="{{Lightbox.imageUrl}}"
          ng-href="{{Lightbox.imageUrl}}"
          iframe-id="lightbox-video"
          class="embed-responsive-item">
        <a ng-href="{{Lightbox.imageUrl}}">Watch video</a>
      </embed-video>
    </div>
  </div>
</div>