<div class="col-sm-4 col-xs-12 no-pad mobile-pad">
 <div class="main-right">
	<div class="bio-content">
	  <p>TONY GARZIO – An award-winning senior art director, brand identity specialist and designer for over 20 years. Most recently Tony worked for Teleflora, a division of The Wonderful Company’s Partner Marketing team managing and designing direct mail, online ads and emails for over 40 partners affiliates. He also created collateral pieces, email and online ads for their eFlorist and Florist Marketing divisions. POM Wonderful Pomegranate Juice also tapped his skills for Sales Videos and other trade show presentation materials.</p>

	  <p>Tony’s previous experience includes Belacoso Communications where he was a founding partner, working with such clients as Anthem/WellPoint, Allergan (Clinical Botox), Acapulco &amp; El Torito Restaurants, EarthLink, Hong Kong Tourism Board, Mike’s Hard Lemonade, The Fruit Guys and The Men’s Wearhouse.</p>

	  <p>Previously, he worked as a freelance creative director for Boyd Communications and DDB Worldwide, Los Angels where he created direct response television and print advertising for Cigna Health Care for Seniors, HealthNet, Fiji Tourism Board, Savant, Wells Fargo Bank and United Health Plan for Seniors.</p>

	  <p>Tony is also an accomplished fine artist, working in water color and oil paints. His gallery of work includes people portraits, pet portraits and surfers among other subject matter. Tony earned a Bachelor of Arts degree in Fine Art from UCSB and also attended and taught at Art Center College of Design, in Pasadena.</p>
	</div>
 </div>
</div>