<div class="col-sm-4 no-pad">
 <div class="main-right-white-square radio-bg-color">
	<div class="radio-bg text-center">
		<h5 class="radio-text">Radio Spot 1</h5>
		<audio controls>
		  <source src="radio/tape_1.mp3" type="audio/mp3">
		Your browser does not support the audio element.
		</audio>
		<h5 class="radio-text">Radio Spot 2</h5>
		<audio controls>
		  <source src="radio/tape_2.mp3" type="audio/mp3">
		Your browser does not support the audio element.
		</audio>
		<h5 class="radio-text">Radio Spot 3</h5>
		<audio controls>
		  <source src="radio/tape_3.mp3" type="audio/mp3">
		Your browser does not support the audio element.
		</audio>
	</div>
 </div>
</div>